{% extends 'base.html.twig' %}
{% block body %}

    <h1>Edit Editor</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Update</button>
    {{ form_end(form) }}

    <a href="{{ path('editor_index') }}" class="btn btn-secondary">Back to List</a>

{% endblock %}